#!/bin/bash

# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

AUTH="Authorization: Bearer $(gcloud auth print-access-token)"
PROJECT_ID=${PROJECT_ID}
PROJECT_NUMBER=$(gcloud projects describe $PROJECT_ID --format="value(projectNumber)")
RUNTIME_LOCATION=${REGION}
ANALYTICS_REGION=${REGION}

gcloud alpha apigee organizations provision \
--runtime-location=$RUNTIME_LOCATION \
--analytics-region=$ANALYTICS_REGION \
--authorized-network=${NETWORK_NAME} \
--project=$PROJECT_ID
